.step-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.25rem;
}

.step-header {
  display: flex;
  align-items: center;
  padding: 0.375rem;
}

.drag-handle {
  width: 1.875rem;
  height: 1.875rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 0.8rem;
  color: var(--neutral-gray);
}

.drag-handle:hover,
.drag-handle:focus {
  background-color: var(--accent-color);
  color: var(--btn-text-color);
  text-decoration: none;
  cursor: ns-resize;
}

.sort-icon {
  width: 1.875rem;
  height: 1.875rem;
}

.close-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 1.875rem;
  width: 1.875rem;
  margin-left: auto;
  color: var(--neutral-gray);
  font-size: 1.875rem;
  line-height: 1.875rem;
  border-radius: 50%;
}

.close-btn:hover,
.close-btn:focus {
  background-color: var(--accent-color);
  color: var(--btn-text-color);
  text-decoration: none;
  cursor: pointer;
}

.step-body {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0rem 1.25rem 1.25rem 1.25rem;
}

.img-preview {
  position: relative;
  width: 19.3rem;
  aspect-ratio: 16 /9;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  background-size: contain;
  border: 1px solid var(--neutral-gray);
  border-radius: 0.4285rem;
}

.img-info {
  display: block;
  font-size: 0.9rem;
  color: var(--muted-text);
  white-space: nowrap;
  line-height: 2.375rem;
  padding: 0rem 0.375rem;
  flex-shrink: 0;
  overflow: hidden;
  text-overflow: ellipsis;

}

.img-btns-box {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding-bottom: 5px;
}

.add-img-label {
  display: inline-block;
  background-color: transparent;
  color: var(--accent-color);
  border: 2px solid var(--accent-color);
  padding: 0.625rem 1.25rem;
  cursor: pointer;
  border-radius: var(--default-radius);
  font-size: 0.875rem;
  text-transform: uppercase;
  font-weight: 600;
  line-height: normal;
}

.add-img-label:active {
  transform: scale(0.98);
}

.wrapping-label {
  padding: 0;
}

.hidden-img-input {
  opacity: 0;
  padding: 0;
  height: 1px;
  width: 1px;
}

.remove-img-btn {
  display: none;
  background-color: #0000007a;
  color: var(--accent-color);
  border: 2px solid var(--accent-color);
}

.textarea-and-label {
  flex-grow: 1;
  padding-left: 1.25rem;
}

.step-textarea {
  resize: none;
  width: 100%;
  line-height: normal;
  height: 10.8rem;
}

.step-text-label {
  padding: 0 0.375rem;
}

@media only screen and (max-width: 599px) {
  .textarea-and-label {
    padding-left: 0;
  }
}