.list-item-container {
    display: flex;
    margin-bottom: 2rem;
}

.img-container {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    overflow: hidden;
    background-color: black;
    height: 12.5rem;
    width: 22.22rem;
}

.thumbnail {
    width: 100%;
}

.title {
    margin: 0;
    padding: 0.6rem 0.6rem 0.1rem 0.6rem;
    font-weight: 500;
    font-size: 1.1rem;
}

.vehicle {
    margin: 0;
    padding: 0rem 0.6rem;
    font-weight: 400;
    font-size: 0.8rem;
}

.item-date {
    margin: 0;
    padding-left: 0.6rem;
    font-size: 0.8rem;
    color: var(--muted-text);
}