.upload-preview-container {
    padding: 0.625rem;
    width: 21.25rem;
}

.upload-preview {
    display: flex;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    background-size: contain;
    border: 1px solid #767676;
    width: 20rem;
    height: 20rem;
    margin: 0 auto;
}

.upload-btn-panel {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rotate-btns-panel {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-around;
    padding: 1.5rem;
}

.rotate-btn {
    border-radius: 100%;
    width: 2.5rem;
    height: 2.5rem;
    padding: 0;
    font-size: 1.25rem;
}

.clockwise-btn {
    transform: rotate(90deg);
}

.anticlockwise-btn {
    transform: rotate(270deg);
}

.upload-btn {
    width: 10rem;
}

.wrapping-label {
    padding: 0;
    display: flex;
    justify-content: center;
    margin-bottom: 0.7rem;
}

.add-img-label {
    font-family: inherit;
    line-height: inherit;
    all: unset;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: var(--accent-color);
    color: var(--btn-text-color);
    padding: 0rem 1.25rem;
    border-radius: var(--default-radius);
    font-size: 0.875rem;
    text-transform: uppercase;
    font-weight: 600;
    box-sizing: border-box;
    cursor: pointer;
}

.add-img-label:active {
    transform: scale(0.98);
}

.hidden-img-input {
    display: inline;
    opacity: 0;
    padding: 0;
    height: 1px;
    width: 1px;
    min-width: 1px;
}