/************ my styles **************/

.color-dot {
    width: 15px;
    height: 15px;
    border-radius: 100%;
    margin-right: 5px;
}

.light-dot {
    background-color: white;
    border: 1px solid var(--text);
}

.dark-dot {
    background-color: black;
    border: 1px solid var(--text);
}

.blue-dot {
    background-color: var(--blue9);
    border: 1px solid var(--text);
}

.green-dot {
    background-color: #00f2c3;
    border: 1px solid var(--text);
}

.pink-dot {
    background-color: #e14eca;
    border: 1px solid var(--text);
}

/************ Dropdown **************/

/* reset */
button {
    all: unset;
}

/************ Media queries *************/

@media only screen and (max-width: 500px) {
    .usernameSpan {
        display: none;
    }
}