@import "@radix-ui/colors/blackA.css";
@import "@radix-ui/colors/mauve.css";
@import "@radix-ui/colors/blue.css";
@import "@radix-ui/colors/grass.css";
@import "@radix-ui/colors/crimson.css";

:root {
  --primary1: var(--blue1);
  --primary3: var(--blue3);
  --primary4: var(--blue4);
  --primary6: var(--blue6);
  --primary9: var(--blue9);
  --primary11: var(--blue11);
  --accent-color: #1d8cf8;
  --bg-gradient: linear-gradient(0deg, #3358f4, #1d8cf8);
  --backdrop-color: #00000080;

}

html {
  font-family: "Poppins", sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  --body-bg: #f5f6fa;
  --card-bg: white;
  --text: #1d253b;
  --muted-text: var(--mauve11);
  --separator: var(--mauve8);
  --default-radius: 0.3125rem;
  --default-shadow: 0 1px 15px 0 hsla(0, 0%, 48.2%, 0.05);
  --sidebar-shadow: 0 2px 22px 0 rgba(0, 0, 0, 0.1),
    0 4px 20px 0 rgba(0, 0, 0, 0.15);
  font-size: 1rem;
  margin: 0;
  min-height: 100vh;
  background: var(--body-bg);
  color: var(--text);
}

a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  color: #0056b3;
  text-decoration: underline;
}

a:active {
  transform: scale(0.95);
}

.unstyled-link {
  text-decoration: none;
  color: inherit;
}

.unstyled-link:hover {
  color: inherit;
  text-decoration: none;
}

.unstyled-link:active {
  transform: none;
}

input,
button,
select,
optgroup,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

.card {
  background-color: var(--card-bg);
  border-radius: var(--default-radius);
  box-shadow: var(--default-shadow);
}

.default-icon-size {
  width: 1.25rem;
  height: 1.25rem;
}

#search-spinner {
  width: 1rem;
  height: 1rem;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24'%3E%3Cpath stroke='%23000' strokeLinecap='round' strokeLinejoin='round' strokeWidth='2' d='M20 4v5h-.582m0 0a8.001 8.001 0 00-15.356 2m15.356-2H15M4 20v-5h.581m0 0a8.003 8.003 0 0015.357-2M4.581 15H9' /%3E%3C/svg%3E");
  animation: spin 1s infinite linear;
  position: absolute;
  left: 0.625rem;
  top: 0.75rem;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.dark-theme {
  --body-bg: #1e1e2f;
  --card-bg: #27293d;
  --text: white;
  --muted-text: var(--mauve8);
}

.green {
  --primary1: var(--grass1);
  --primary3: var(--grass3);
  --primary4: var(--grass4);
  --primary6: var(--grass6);
  --primary9: var(--grass9);
  --primary11: var(--grass11);
  --accent-color: #00f2c3;
  --bg-gradient: linear-gradient(0deg, #0098f0, #00f2c3);
}

.pink {
  --primary1: var(--crimson1);
  --primary3: var(--crimson3);
  --primary4: var(--crimson4);
  --primary6: var(--crimson6);
  --primary9: var(--crimson9);
  --primary11: var(--crimson11);
  --accent-color: #e14eca;
  --bg-gradient: linear-gradient(0deg, #ba54f5, #e14eca);
}